{% extends 'base.html' %}
{% block content %}
  <div class="beer_css">
    <h1><u>{{beer.name}}</u></h1>
    <ul>
      <li>Created by: @{{beer.user}}</li>
      <li>Calories: {{beer.calories}}</li>
      <li>ABV: {{beer.abv}}%</li>
      <li>Style: {{beer.style}}</li>
      <li>Glass: {{beer.glass}}</li>
      <li>Brewery Location: {{beer.location}}</li>
      {% if beer.ratings.count %}
        <li>Average Rating: {{beer.total_average}}%</li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
