{% extends 'base.html' %}
{% block content %}
  <div class="beer_css">
    <h1><u>{{beer.name}}</u></h1>
    <ul>
      <li>Created by: <a href="{% url 'mybeerapp:user_beerlist' username=beer.user.username %}">@{{beer.user}}</a></li>
      <li>Created on:  {{beer.created_at}}</li>
      <li>Calories: {{beer.calories}}</li>
      <li>ABV: {{beer.abv}}%</li>
      <li>Style: {{beer.style}}</li>
      <li>Glass: {{beer.glass.name}}</li>
      <li>Brewery Location: {{beer.location}}</li>
      {% if beer.ratings.count %}
        <li>Overall User Rating: <a href="{% url 'mybeerapp:rating_details' slug=beer.slug %}">{{beer.total_average}}%</a></li>
      {% endif %}

      <form action="{% url 'mybeerapp:rating' slug=beer.slug %}">
        {% csrf_token %}
        <input class="ratedetailbutton" type="submit" name="" value="Rate This Beer">
      </form>

    </ul>

  </div>
{% endblock %}
