{% extends 'base.html' %}
{% block content %}
  <div class="beer_css">
    {% if beerflag and ratingbeer %}
      <h1 class='bg-warning'>Error: @{{user.username}} cannot review <em>{{ratingbeer.name}}</em> more than once.</h1>
    {% endif %}

    {% if rateupdate %}
      <h1><u>Update <em>{{ratingupdate.beer.name}}</em> Rating:</u></h1>
    {% else %}
      <h1><u>Create Rating:</u></h1>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {% if rateupdate %}
        <input type="submit" name="" value="Update">
      {% else %}
        <input type="submit" name="" value="Rate">
      {% endif %}
    </form>

  </div>
{% endblock %}
