{% extends 'base.html' %}
{% block content %}
  <div class="beer_css">
    <h1><u>Overall <em>{{beer.name}}</em> Rating Details:</u></h1>
    <ol>
      {% for rating in beer.ratings.all %}
        <div class="col-md-4 col-xs-6 ratingdet">
          <li>
            <ul>
              <li>User: <a href="{% url 'mybeerapp:user_beerlist' username=rating.user.username %}">@{{rating.user}}</a></li>
              <li>Aroma: {{rating.aroma}}/5</li>
              <li>Appearance: {{rating.appearance}}/5</li>
              <li>Taste: {{rating.taste}}/10</li>
              <li>Total: {{rating.average}}%</li>
            </ul>
          </li>
        </div>
      {% endfor %}
    </ol>
  </div>
{% endblock %}
