{% extends 'base.html' %}
{% block content %}
  <div class="beer_css">

    <h1><em>@{{beer_user}}</em></h1>

    <div class="col-xs-6">
      <h2><u>Beer List</u></h2>
      <ol>
        {% for beer in user_beers %}
          <h3><li>{{beer.name}}</li></h3>
          <ul>
            <li>Calories: {{beer.calories}}</li>
            <li>ABV: {{beer.abv}}%</li>
            <li>Style: {{beer.style}}</li>
            <li>Glass: {{beer.glass}}</li>
            <li>Brewery Address: {{beer.location}}</li>
            {% if beer.ratings.count %}
              <li>Average Rating: {{beer.total_average}}%</li>
              {% for rating in beer.ratings.all %}
                {{rating.user}}
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </ol>
    </div>


    <div class="col-xs-6">
      <h2><u>Rating List</u></h2>
      <ol>
        {% for rating in user_ratings %}
          <h3><li>{{rating.beer.name}}</li></h3>
          <ul>
            <li>Aroma: {{rating.aroma}}/5</li>
            <li>Appearance: {{rating.appearance}}/5</li>
            <li>Taste: {{rating.taste}}/10</li>
            <li>Total: {{rating.average}}%</li>
          </ul>
        {% endfor %}
      </ol>
    </div>

  </div>


{% endblock %}
