{% extends 'base.html' %}
{% block content %}
  <div class="beer_css">

    <h1><em>@{{beer_user}}</em></h1>

    <div class="col-xs-6">
      <h2><u>Created Beer List</u></h2>
      <ol>
        {% for beer in user_beers %}
          <h3><li><a href="{% url 'mybeerapp:beer_details' slug=beer.slug %}">{{beer.name}}</a></li></h3>
          <ul>
            <li>Calories: {{beer.calories}}</li>
            <li>ABV: {{beer.abv}}%</li>
            <li>Style: {{beer.style}}</li>
            <li>Glass: {{beer.glass}}</li>
            <li>Brewery Address: {{beer.location}}</li>
            {% if beer.ratings.count %}
              <li>Overall User Rating: <a href="{% url 'mybeerapp:rating_details' slug=beer.slug %}">{{beer.total_average}}%</a></li>
            {% endif %}
          </ul>

          {% if user.is_authenticated and user == beer_user %}
              <a class="btn btn-primary glyphs" href="{% url 'mybeerapp:beer_edit' slug=beer.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-primary glyphs glyphdel" href="{% url 'mybeerapp:beer_delete' slug=beer.slug %}"><span class="glyphicon glyphicon-remove"></span></a>
          {% endif %}

        {% endfor %}
      </ol>
    </div>


    <div class="col-xs-6">
      <h2><u>Rating List</u></h2>
      <ol>
        {% for rating in user_ratings %}
          <h3><li><a href="{% url 'mybeerapp:beer_details' slug=rating.beer.slug %}">{{rating.beer.name}}</a></li></h3>
          <ul>
            <li>Aroma: {{rating.aroma}}/5</li>
            <li>Appearance: {{rating.appearance}}/5</li>
            <li>Taste: {{rating.taste}}/10</li>
            <li>Total: {{rating.average}}%</li>
          </ul>

          {% if user.is_authenticated and user == beer_user %}
              <a class="btn btn-primary glyphs" href="{% url 'mybeerapp:rating_edit' pk=rating.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-primary glyphs glyphdel" href="{% url 'mybeerapp:rating_delete' pk=rating.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          {% endif %}

        {% endfor %}
      </ol>
    </div>

  </div>


{% endblock %}
