body{
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Open Sans',sans-serif;
}

.barname{
  font-weight: bold;
  font-size: 1.25em;
}

.ratingdet{
  padding-top: 15px;
}

.ratedetailbutton{
  margin-top: 10px;
}

.introsection .container h3{
  font-size: 1.25em;
}

.introsection{
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #eaefec;
}

.navbar-inverse{
  background-color: #9bc9b1;
}

.navbar-right li input {
  margin-top: 13px;
}

.navbar-collapse .navbar-nav li a{
  color: black;
}

.beer_css{
  padding-top: 40px;
}

.source_button{
  padding-top: 25px;
  text-align: center;
}

.glyphs{
  margin-top: 20px;
}

.glyphdel{
  background-color: #d85050;
}

.btn-default{
  background-color: #4b8c6e;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  width: 300px;
  height: 50px;
  border-radius: 5%;
}
